Backend/ProductosService/.vs/ProductosService/config/applicationhost.config
Backend/ProductosService/.vs/ProductosService/FileContentIndex/0dae8de9-2694-4bb7-b853-72b6daa50c1c.vsidx
Backend/ProductosService/.vs/ProductosService/FileContentIndex/632aa50a-21e6-40d3-9db9-637ec7138798.vsidx
Backend/ProductosService/.vs/ProductosService/FileContentIndex/8f768e2e-7cbe-457b-a56a-bbf62cf98c50.vsidx
Backend/ProductosService/.vs/ProductosService/FileContentIndex/a0f4e263-87e0-461e-b551-813c7941e329.vsidx
Backend/ProductosService/.vs/ProductosService/FileContentIndex/a28a0bd5-9f0b-4be9-b8d3-fe6312e0b503.vsidx
Backend/ProductosService/bin/Debug/net8.0/appsettings.Development.json
Backend/ProductosService/bin/Debug/net8.0/appsettings.json
Backend/ProductosService/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Backend/ProductosService/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
Backend/ProductosService/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
Backend/ProductosService/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
Backend/ProductosService/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
Backend/ProductosService/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
Backend/ProductosService/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Backend/ProductosService/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
Backend/ProductosService/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
Backend/ProductosService/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
Backend/ProductosService/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
Backend/ProductosService/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
Backend/ProductosService/bin/Debug/net8.0/Microsoft.OpenApi.dll
Backend/ProductosService/bin/Debug/net8.0/Npgsql.dll
Backend/ProductosService/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
Backend/ProductosService/bin/Debug/net8.0/ProductosService.deps.json
Backend/ProductosService/bin/Debug/net8.0/ProductosService.dll
Backend/ProductosService/bin/Debug/net8.0/ProductosService.exe
Backend/ProductosService/bin/Debug/net8.0/ProductosService.pdb
Backend/ProductosService/bin/Debug/net8.0/ProductosService.runtimeconfig.json
Backend/ProductosService/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
Backend/ProductosService/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Backend/ProductosService/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Backend/ProductosService/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
Backend/ProductosService/obj/Debug/net8.0/apphost.exe
Backend/ProductosService/obj/Debug/net8.0/Producto.4DF55E64.Up2Date
Backend/ProductosService/obj/Debug/net8.0/ProductosService.csproj.BuildWithSkipAnalyzers
Backend/ProductosService/obj/Debug/net8.0/ProductosService.csproj.CoreCompileInputs.cache
Backend/ProductosService/obj/Debug/net8.0/ProductosService.csproj.FileListAbsolute.txt
Backend/ProductosService/obj/Debug/net8.0/ProductosService.dll
Backend/ProductosService/obj/Debug/net8.0/ProductosService.genruntimeconfig.cache
Backend/ProductosService/obj/Debug/net8.0/ProductosService.MvcApplicationPartsAssemblyInfo.cache
Backend/ProductosService/obj/Debug/net8.0/ProductosService.MvcApplicationPartsAssemblyInfo.cs
Backend/ProductosService/obj/Debug/net8.0/ProductosService.pdb
Backend/ProductosService/obj/Debug/net8.0/ProductosService.sourcelink.json
Backend/ProductosService/obj/Debug/net8.0/staticwebassets.build.json
Backend/ProductosService/obj/Debug/net8.0/ref/ProductosService.dll
Backend/ProductosService/obj/Debug/net8.0/refint/ProductosService.dll
Backend/ProductosService/obj/Debug/net8.0/staticwebassets/msbuild.build.ProductosService.props
Backend/ProductosService/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.ProductosService.props
Backend/ProductosService/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.ProductosService.props
Backend/TransaccionesService/.vs/TransaccionesService/config/applicationhost.config
Backend/TransaccionesService/.vs/TransaccionesService/FileContentIndex/56aa5e2c-f076-48f5-b557-46eda2f019ee.vsidx
Backend/TransaccionesService/.vs/TransaccionesService/FileContentIndex/baa546ce-ee54-477f-bfc2-27ecd0cd02fd.vsidx
Backend/TransaccionesService/.vs/TransaccionesService/FileContentIndex/cee91195-8f8e-45dd-b306-712582828a80.vsidx
Backend/TransaccionesService/.vs/TransaccionesService/FileContentIndex/eb9571fd-819d-4e76-9232-eaf5f07b7d07.vsidx
Backend/TransaccionesService/.vs/TransaccionesService/FileContentIndex/ef4a5906-645a-463a-b91e-43440d30eb73.vsidx
Backend/TransaccionesService/bin/Debug/net8.0/appsettings.Development.json
Backend/TransaccionesService/bin/Debug/net8.0/appsettings.json
Backend/TransaccionesService/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Backend/TransaccionesService/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
Backend/TransaccionesService/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
Backend/TransaccionesService/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
Backend/TransaccionesService/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
Backend/TransaccionesService/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
Backend/TransaccionesService/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Backend/TransaccionesService/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
Backend/TransaccionesService/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
Backend/TransaccionesService/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
Backend/TransaccionesService/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
Backend/TransaccionesService/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
Backend/TransaccionesService/bin/Debug/net8.0/Microsoft.OpenApi.dll
Backend/TransaccionesService/bin/Debug/net8.0/Npgsql.dll
Backend/TransaccionesService/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
Backend/TransaccionesService/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
Backend/TransaccionesService/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Backend/TransaccionesService/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Backend/TransaccionesService/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
Backend/TransaccionesService/bin/Debug/net8.0/TransaccionesService.deps.json
Backend/TransaccionesService/bin/Debug/net8.0/TransaccionesService.dll
Backend/TransaccionesService/bin/Debug/net8.0/TransaccionesService.exe
Backend/TransaccionesService/bin/Debug/net8.0/TransaccionesService.pdb
Backend/TransaccionesService/bin/Debug/net8.0/TransaccionesService.runtimeconfig.json
Backend/TransaccionesService/obj/Debug/net8.0/apphost.exe
Backend/TransaccionesService/obj/Debug/net8.0/staticwebassets.build.json
Backend/TransaccionesService/obj/Debug/net8.0/Transacc.911557C1.Up2Date
Backend/TransaccionesService/obj/Debug/net8.0/TransaccionesService.csproj.BuildWithSkipAnalyzers
Backend/TransaccionesService/obj/Debug/net8.0/TransaccionesService.csproj.CoreCompileInputs.cache
Backend/TransaccionesService/obj/Debug/net8.0/TransaccionesService.csproj.FileListAbsolute.txt
Backend/TransaccionesService/obj/Debug/net8.0/TransaccionesService.dll
Backend/TransaccionesService/obj/Debug/net8.0/TransaccionesService.genruntimeconfig.cache
Backend/TransaccionesService/obj/Debug/net8.0/TransaccionesService.MvcApplicationPartsAssemblyInfo.cache
Backend/TransaccionesService/obj/Debug/net8.0/TransaccionesService.MvcApplicationPartsAssemblyInfo.cs
Backend/TransaccionesService/obj/Debug/net8.0/TransaccionesService.pdb
Backend/TransaccionesService/obj/Debug/net8.0/TransaccionesService.sourcelink.json
Backend/TransaccionesService/obj/Debug/net8.0/ref/TransaccionesService.dll
Backend/TransaccionesService/obj/Debug/net8.0/refint/TransaccionesService.dll
Backend/TransaccionesService/obj/Debug/net8.0/staticwebassets/msbuild.build.TransaccionesService.props
Backend/TransaccionesService/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.TransaccionesService.props
Backend/TransaccionesService/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.TransaccionesService.props
