<mat-card>
    <mat-card-title>Lista de Productos</mat-card-title>

    <mat-card-content>

        <div class="acciones">
            <button mat-raised-button color="primary" (click)="abrirDialogoCrear()">
                <mat-icon>add</mat-icon> Nuevo Producto
            </button>
        </div>

        <!-- <mat-form-field appearance="outline" style="width: 300px;">
    <mat-label>Buscar</mat-label>
    <input matInput (input)="aplicarFiltro($event)" placeholder="Nombre, categoría...">
  </mat-form-field> -->

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell *matCellDef="let producto">{{ producto.nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoría</th>
                <td mat-cell *matCellDef="let producto">{{ producto.categoria }}</td>
            </ng-container>

            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
                <td mat-cell *matCellDef="let producto">${{ producto.precio }}</td>
            </ng-container>

            <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
                <td mat-cell *matCellDef="let producto">{{ producto.stock }}</td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let producto">
                    <button mat-icon-button color="primary" (click)="abrirDialogoEditar(producto.id!)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="eliminar(producto.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </mat-card-content>
</mat-card>